<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery.js文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>

    <!-- 引入easyui的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">

    <!-- 引入uploadify的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/uploadify/uploadify.css">
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
<div id="mydiv">
    <a  href="javascript:openAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增品牌</a>
</div>
<div id="userDialog" class="easyui-dialog" data-options="closed:true,width:300,height:200,modal:true,buttons:'#buttons'">
    <form id="userForm" method="post">
        <input name="brandid" style="display:none">
        <table>
            <tr>
                <td>品牌名称</td>
                <td><input class="easyui-textbox" id="stype" name="brandname"></td>
            </tr>
        </table>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="buttons">
    <a href="javascript:saveBrand()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>


<table id="mytable"></table>
</body>
<script>
    $(function () {
        initTable();
    })
    function saveBrand(){
        $("#userForm").form("submit",{
            url:"../shop/addBrand",
            success:function(){
                //关闭弹框
                closeDialog();
                //刷新表格
                $('#mytable').datagrid("load");
            }
        });
    }
    //打开修改弹框：回显表单数据
    function updateBrand(id){
        $.ajax({
            url:"../shop/findBrandByid",
            type:"post",
            data:{id:id},
            success:function(data){
                $("#userForm").form("load",data);
                //打开弹框
                $("#userDialog").dialog({
                    closed:false,
                    title:'修改品牌'
                });
            }
        })
    }

    //打开新增弹框
    function openAdd(){
        //清除表单缓存
        $("#userForm").form("reset");
        $("#userDialog").dialog({
            closed:false,
            title:'新增类型'
        });

    }

    //关闭新增弹框
    function closeDialog(){
        $("#userDialog").dialog("close");
    }

    function delBrand(id) {
        $.messager.confirm("提示","是否确认删除？",function(r){
            if(r){
                $.ajax({
                    url:"../shop/delBrand",
                    type:"post",
                    data:{id:id},
                    success:function(){
                        $.messager.alert("我的消息","删除成功！！！","info");
                        $('#mytable').datagrid("load");
                    }
                });
            }
        });
    }
    function initTable() {
        $('#mytable').datagrid({
            url: '/shop/findBrand',//获取数据地址
            columns: [
                [
                    {field: 'brandid', title: 'id', width: 20},
                    {field: 'brandname', title: '品牌名称', width: 80},
                    {
                        field: 'caozuo', title: '操作', formatter: function (value, row, index) {
                            var str = "";
                            str += "<a  href='javascript:updateBrand(" + row.brandid + ")'>修改</a> | ";
                            str += "<a  href='javascript:delBrand(" + row.brandid + ")'>删除</a>";
                            return str;
                        }
                    }
                ]
            ],
            toolbar: "#mydiv"
        });
    }
</script>
</html>