<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery.js文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>

    <!-- 引入easyui的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">

    <!-- 引入uploadify的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/uploadify/uploadify.css">
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>




    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js//bootstrap3/css/bootstrap-theme.css">
    <!-- 引入jquery文件 -->
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.min.js"></script>
    <!-- bootstrap-table -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script  src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入日期得css和js文件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <!-- 引入上传文件的css和js文件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">



</head>
<body>
<div id="mydiv">
    商品名称：<input class="easyui-textbox" id="name">
    商品类型：<input id="type" class="easyui-combobox">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="javascript:chaUser()">搜索</a>
</div>
<div id="userDialog" class="easyui-dialog" data-options="closed:true,width:800,height:600,modal:true,buttons:'#buttons'">
    <form id="userForm" method="post">
        <input name="id" style="display:none">
        <table>
            <br>
            <tr>
                <td>商品名称</td>
                <td><input class="easyui-textbox" name="sname"></td>
            </tr>
            <br>
            <tr>
                <td>商品价格</td>
                <td><input class="easyui-textbox" name="sprice"></td>
            </tr>
            <br>
            <tr>
                <td>商品描述</td>
                <td><input class="easyui-textbox" name="sinfo"></td>
            </tr>
            <br>
            <tr>
                <td>商品出厂日期</td>
                <td><input class="easyui-datebox" name="sdate"></td>
            </tr>
            <br>
            <tr>
                <td>商品保质期</td>
                <td><input class="easyui-textbox" name="sbaodate"></td>
            </tr>
            <br>
            <tr>
                <td>商品库存</td>
                <td><input class="easyui-textbox" name="scount"></td>
            </tr>
            <br>
            <tr>
                <td>商品类型</td>
                <td>
                    <input class="easyui-combobox" name="stypeid" id="stypeid" data-options="width:180">
                </td>
            </tr>
            <br>
           <!-- <tr>
                <td>商品图片</td>
                <td>
                    &lt;!&ndash; 图片回显的img标签 &ndash;&gt;
                    <img id="add_img" width="100px" height="100px"/>
                    &lt;!&ndash; 文件域 &ndash;&gt;
                    <input type="file" id="uploadImg"/>
                    &lt;!&ndash; 隐藏域：用于向后台传值 &ndash;&gt;
                    <input style="display:none" id="hideImg" name="simage"/><br>
                    &lt;!&ndash; 显示进度条的div &ndash;&gt;
                    <div id="fileQueue"></div>
                </td>
            </tr>-->
            <div class="row">
                <div class="col-md-2"><label>图片:</label></div>
                <div class="col-md-5" >
                    <!--隐藏域：往后台传值  -->
                    <input type="text" id="testimg" style="display:none" name="simage"  /><!-- // -->
                    <!-- projectfile -->
                    <input type="file" multiple class="projectfile" accept="image/*" name="movieImg" id="userImg">
                </div>
            </div>
        </table>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="buttons">
    <a href="javascript:saveUser()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>


<table id="mytable"></table>
</body>
<script>
    $(function () {
        initTable();
        initType();
    })

    //条查
    function chaUser(){
        $("#mytable").datagrid("load",{
            sname:$("#name").textbox("getValue"),
            stypeid:$("#type").textbox("getValue"),
        });
    }
    function initType(){
        $("#type").combobox({
            url:"../shop/findType",
            valueField:"stypeid",
            textField:"stypename",
        });
    }
    //保存用户
    function saveUser(){
        $("#userForm").form("submit",{
            url:"../shop/addShop",
            success:function(){
                //关闭弹框
                closeDialog();
                //刷新表格
                $('#mytable').datagrid("load");
            }
        });
    }
    //初始化加载表格
    function initTable() {
        $('#mytable').datagrid({
            url: '/shop/initdownShopTable',//获取数据地址
            columns: [
                [
                    {field: "checkbox", checkbox: true},
                    {field: 'id', title: 'id', width: 20},
                    {field: 'sname', title: '商品名称', width: 80},
                    {field: 'stypename', title: '商品类型', width: 80},
                    {
                        field: 'sprice', title: '商品价格', width: 80, formatter: function (value, row, index) {
                            return value + "元";
                        }
                    },
                    {field: 'sdate', title: '商品出厂日期', width: 150},
                    {
                        field: 'sbaodate', title: '商品保质期', width: 80, formatter: function (value, row, index) {
                            if (value < 30) {
                                return value + "天";
                            } else if (value >= 30 && value <= 365) {
                                return value / 30 + "月";
                            } else if (value >= 365) {
                                return value / 365 + "年";
                            }
                        }
                    },
                    {
                        field: "simage", title: "商品图片", width: 80, formatter: function (value, row, index) {
                            return "<img src='"+value+"' width='50px' height='50px'>";
                        }
                    },
                    {field: 'scount', title: '商品库存', width: 80},
                    {field: 'ordernum', title: '订单量', width: 80},
                    {field: 'sinfo', title: '商品描述'},
                    {
                        field: 'caozuo', title: '操作', formatter: function (value, row, index) {
                            var str = "";
                            str += "<a  href='javascript:updateShopStatus(" + row.id + ")'>上架</a> | ";
                            str += "<a  href='javascript:updateShop(" + row.id + ")'>修改</a> | ";
                            str += "<a  href='javascript:delshop(" + row.id + ")'>删除</a>";
                            return str;
                        }
                    }
                ]
            ],
            pagination: true,
            pageSize: 5,
            pageList: [4, 5, 6],
            toolbar: "#mydiv"
        });
    }
    function initrole(){
        $("#stypeid").combobox({
            url:"../shop/findType",
            valueField:"stypeid",
            textField:"stypename",
        });
    }
    function updateShop(id) {
        $.ajax({
            url:"../shop/findShopid",
            type:"post",
            data:{id:id},
            success:function(data){
               //初始化角色下拉列表
                initrole();
                //回显表单数据
                $("#userForm").form("load",data);
                $("#add_img").attr("src","../"+data.simage);
                //打开弹框
                $("#userDialog").dialog({
                    closed:false,
                    title:'修改商品'
                });
            }
        })
    }
    function updateShopStatus(id){
        $.ajax({
            url:"../shop/updateUpShopSatus",
            type:"post",
            data:{id:id},
            success:function(){
                $.messager.alert("我的消息","上架成功！！！","info");
                $('#mytable').datagrid("load");
            }
        })
    }
    //关闭新增弹框
    function closeDialog(){
        $("#userDialog").dialog("close");
    }
    //删除
    function delshop(id) {
        $.messager.confirm("提示","是否确认删除？",function(r){
            if(r){
                $.ajax({
                    url:"../shop/deleteById",
                    type:"post",
                    data:{id:id},
                    success:function(){
                        $.messager.alert("我的消息","删除成功！！！","info");
                        $('#mytable').datagrid("load");
                    }
                });
            }
        });
    }
    /*$("#uploadImg").uploadify({
        //插件自带  不可忽略的参数flash插件
        'swf': '../js/uploadify/uploadify.swf',
        //前台请求后台的url 不可忽略的参数
        'uploader': '../img/uploadUserImg',
        //给div的进度条加背景 不可忽略
        'queueID': 'fileQueue',
        //上传文件文件名 跟file标签 name值 保持一致传参】
        'fileObjName' : 'imgfile',
        //给上传按钮设置文字
        'buttonText': '上传头像',
        //设置文件是否自动上传
        'auto': true,
        //可以同时选择多个文件 默认为true  不可忽略
        'multi': true,
        //上传后队列是否消失
        'removeCompleted': true,
        //允许上传的文件后缀
        'fileExt': '*.jpg;*.gif;*.png',
        //
        'cancelImg': '../js/uploadify/uploadify-cancel.png',
        //队列消失时间
        'removeTimeout' : 1,
        //上传文件的个数，项目中一共可以上传文件的个数
        'uploadLimit':  -1,
        'fileTypeExts': '*.jpg;*.png',
        //成功回调函数 file：文件对象。data后台输出数据
        'onUploadSuccess':function(file,data,response){
            //alert(file.name+" 路径："+data.imagePath)
            var imgurl = "../img/"+eval(data);
            //图片回显， 预览
            $("#add_img").attr("src",imgurl);
            // 文本框 回填
            $('#hideImg').val(eval(data));
        }

    });*/
    uploadFile()
    //上传文件
    function uploadFile(){
        $('#userImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/img/uploadUserImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            //var imgval = $('#testimg').val();
            //if(imgval == null || imgval == "" || imgval == undefined){
            var	imgval = data.response;
            //}else{
            //	imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
            //}
            $('#testimg').val(imgval);
        });
    }

</script>
</html>