<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery.js文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引入easyui的中文js文件 -->
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>

    <!-- 引入easyui的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标的css文件 -->
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">

    <!-- 引入uploadify的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/uploadify/uploadify.css">
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>


    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js//bootstrap3/css/bootstrap-theme.css">
    <!-- 引入jquery文件 -->
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.min.js"></script>
    <!-- bootstrap-table -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script  src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入日期得css和js文件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <!-- 引入上传文件的css和js文件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">


</head>
<body>
<div id="mydiv">
    商品名称：<input class="easyui-textbox" id="name">
    商品类型：<input id="type" class="easyui-combobox">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="javascript:chaUser()">搜索</a>
    <a  href="javascript:openAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增商品</a>
</div>
<div id="userDialog" class="easyui-dialog" data-options="closed:true,width:800,height:600,modal:true,buttons:'#buttons'">
    <form id="userForm" method="post">
        <input name="id" style="display:none">
        <table>
            <br>
            <tr>
                <td>商品名称</td>
                <td><input class="easyui-textbox" name="sname"></td>
            </tr>
            <br>
            <tr>
                <td>商品价格</td>
                <td><input class="easyui-textbox" name="sprice"></td>
            </tr>
            <br>
            <tr>
                <td>商品描述</td>
                <td><input class="easyui-textbox" name="sinfo"></td>
            </tr>
            <br>
            <tr>
                <td>商品出厂日期</td>
                <td><input class="easyui-datebox" name="sdate"></td>
            </tr>
            <br>
            <tr>
                <td>商品类型</td>
                <td>
                    <input class="easyui-combobox" name="stypeid" id="stypeid" data-options="width:180">
                </td>
            </tr>
            <br>
            <tr>
                <td>商品品牌</td>
                <td>
                    <input class="easyui-combobox" name="brandid" id="brandid" data-options="width:180">
                </td>
            </tr>
            <br>
            <div class="row">
                <div class="col-md-2"><label>图片:</label></div>
                <div class="col-md-5" >
                    <!--隐藏域：往后台传值  -->
                    <input type="text" id="testimg" style="display:none" name="simage"  />
                    <!-- projectfile -->
                    <input type="file" multiple class="projectfile" accept="image/*" name="movieImg" id="userImg">
                </div>
            </div>
            <br>
        </table>
    </form>
</div>
<div id="shopDialog" class="easyui-dialog" data-options="closed:true,width:800,height:600,modal:true,buttons:'#button'">
    <form id="shopForm" method="post">
        <input name="id" style="display:none">
        <table>
            <br>
            <tr>
                <td>商品名称</td>
                <td><input class="easyui-textbox" name="sname"></td>
            </tr>
            <br>
            <tr>
                <td>商品价格</td>
                <td><input class="easyui-textbox" name="sprice"></td>
            </tr>
            <br>
            <tr>
                <td>商品描述</td>
                <td><input class="easyui-textbox" name="sinfo"></td>
            </tr>
            <br>
            <tr>
                <td>商品出厂日期</td>
                <td><input class="easyui-datebox" name="sdate"></td>
            </tr>
            <br>
            <tr>
                <td>商品类型</td>
                <td>
                    <input class="easyui-combobox" name="stypeid" id="stypeid2" data-options="width:180">
                </td>
            </tr>
            <br>
            <tr>
                <td>商品品牌</td>
                <td>
                    <input class="easyui-combobox" name="brandid" id="brandid2" data-options="width:180">
                </td>
            </tr>
            <br>
            <div class="row">
                <div class="col-md-2"><label>图片:</label></div>
                <div class="col-md-5" >
                    <!--隐藏域：往后台传值  -->
                    <input type="text" id="testimg2" style="display:none" name="simage"  />
                    <!-- projectfile -->
                    <input type="file" multiple class="projectfile" accept="image/*" name="movieImg" id="userImg2">
                </div>
            </div>
            <br>
        </table>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="buttons">
    <a href="javascript:saveUser()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>
<div id="button">
    <a href="javascript:saveUser2()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog2()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>
<div id="sizeDialog" class="easyui-dialog" data-options="closed:true,width:800,height:600,modal:true">
    <a  href="javascript:openAdd3()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增商品</a>
    <table id="sizetable"></table>
    <input id="sizeid">

    <div id="sizeDialog3" class="easyui-dialog" data-options="closed:true,width:800,height:600,modal:true,buttons:'#sizebutton'">
        <form id="sizeForm3" method="post">
            <input name="sid" id="sid" style="display:none">
            <table>
                <br>
                <tr>
                    <td>商品尺码</td>
                    <td><input class="easyui-textbox" name="size"></td>
                </tr>
                <br>
                <tr>
                    <td>商品颜色</td>
                    <td><input class="easyui-textbox" name="color"></td>
                </tr>
                <br>
                <tr>
                    <td>尺码价格</td>
                    <td><input class="easyui-textbox" name="xprice"></td>
                </tr>
                <br>
                <tr>
                    <td>商品数量</td>
                    <td><input class="easyui-textbox" name="xcount"></td>
                </tr>
                <br>
                <div class="row">
                    <div class="col-md-2"><label>图片:</label></div>
                    <div class="col-md-5" >
                        <!--隐藏域：往后台传值  -->
                        <input type="text" id="testimg3" style="display:none" name="ximg"  />
                        <!-- projectfile -->
                        <input type="file" multiple class="projectfile" accept="image/*" name="movieImg" id="userImg3">
                    </div>
                </div>
                <br>
            </table>
        </form>
    </div>
    <!-- 定义对话框的按钮 -->
    <div id="sizebutton">
        <a href="javascript:saveSize()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
        <a href="javascript:closeSizeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
    </div>
    <div id="sizeDialog4" class="easyui-dialog" data-options="closed:true,width:800,height:600,modal:true,buttons:'#sizebuttons'">
        <form id="sizeForm4" method="post">
            <input name="sid" id="sid2" style="display:none">
            <table>
                <br>
                <tr>
                    <td>商品尺码</td>
                    <td><input class="easyui-textbox" name="size"></td>
                </tr>
                <br>
                <tr>
                    <td>商品颜色</td>
                    <td><input class="easyui-textbox" name="color"></td>
                </tr>
                <br>
                <tr>
                    <td>尺码价格</td>
                    <td><input class="easyui-textbox" name="xprice"></td>
                </tr>
                <br>
                <tr>
                    <td>商品数量</td>
                    <td><input class="easyui-textbox" name="xcount"></td>
                </tr>
                <br>
                <div class="row">
                    <div class="col-md-2"><label>图片:</label></div>
                    <div class="col-md-5" >
                        <!--隐藏域：往后台传值  -->
                        <input type="text" id="testimg4" style="display:none" name="ximg"  />
                        <!-- projectfile -->
                        <input type="file" multiple class="projectfile" accept="image/*" name="movieImg" id="userImg4">
                    </div>
                </div>
                <br>
            </table>
        </form>
    </div>
    <!-- 定义对话框的按钮 -->
    <div id="sizebuttons">
        <a href="javascript:saveSize2()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
        <a href="javascript:closeSizeDialog2()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
    </div>
</div>


<table id="mytable"></table>
</body>
<script>
    $(function () {
        initTable();
        initType();
    })

    //条查
    function chaUser(){
        $("#mytable").datagrid("load",{
            sname:$("#name").textbox("getValue"),
            stypeid:$("#type").textbox("getValue"),
        });
    }
    //保存用户
    function saveUser(){
        $("#userForm").form("submit",{
            url:"../shop/addShop",
            success:function(){
                //关闭弹框
                closeDialog();
                //刷新表格
                $('#mytable').datagrid("load");
            }
        });
    }
    function saveUser2(){
        $("#shopForm").form("submit",{
            url:"../shop/addShop",
            success:function(){
                //关闭弹框
                closeDialog2();
                //刷新表格
                $('#mytable').datagrid("load");
            }
        });
    }
    //类型
    function initrole(){
        $("#stypeid").combobox({
            url:"../shop/findType",
            valueField:"stypeid",
            textField:"stypename",
        });
    }
    function initrole2(){
        $("#stypeid2").combobox({
            url:"../shop/findType",
            valueField:"stypeid",
            textField:"stypename",
        });
    }
    //品牌
    function initBrand(){
        $("#brandid").combobox({
            url:"../shop/findBrand",
            valueField:"brandid",
            textField:"brandname",
        });
    }
    function initBrand2(){
        $("#brandid2").combobox({
            url:"../shop/findBrand",
            valueField:"brandid",
            textField:"brandname",
        });
    }

    //初始化角色列表
    function initType(){
        $("#type").combobox({
            url:"../shop/findType",
            valueField:"stypeid",
            textField:"stypename",
        });
    }

    function updateShop(id){
        $.ajax({
            url:"../shop/updateShopSatus",
            type:"post",
            data:{id:id},
            success:function(){
                $.messager.alert("我的消息","下架成功！！！","info");
                $('#mytable').datagrid("load");
            }
        })
    }

    //打开新增弹框
    function openAdd(){
        //清除表单缓存
        $("#userForm").form("reset");
        $('#userImg').attr('src', "");
        initrole();//初始化角色下拉列表
        initBrand();
        uploadFile2();
        $("#userDialog").dialog({
            closed:false,
            title:'新增商品',
        });

    }

    function updateShops(id) {
        $.ajax({
            url:"../shop/findShopid",
            type:"post",
            data:{id:id},
            success:function(data){

                //初始化角色下拉列表
                initrole2();
                initBrand2();
                //回显表单数据
                $("#shopForm").form("load",data);

                $('#testimg2').attr('src', data.simage);
                uploadFile(data.simage)
                $("#shopDialog").dialog({
                    closed:false,
                    title:'修改商品'
                });
            }
        })
    }


    //删除
    function delshop(id) {
        $.messager.confirm("提示","是否确认删除？",function(r){
            if(r){
                $.ajax({
                    url:"../shop/deleteById",
                    type:"post",
                    data:{id:id},
                    success:function(){
                        $.messager.alert("我的消息","删除成功！！！","info");
                        $('#mytable').datagrid("load");
                    }
                });
            }
        });
    }


    //关闭新增弹框
    function closeDialog(){
        $("#userDialog").dialog("close");
    }
    //关闭新增弹框
    function closeDialog2(){
        $("#shopDialog").dialog("close");
    }
    //关闭新增弹框
    function closeSizeDialog(){
        $("#sizeDialog3").dialog("close");
    }
    //关闭新增弹框
    function closeSizeDialog2(){
        $("#sizeDialog4").dialog("close");
    }




    //初始化加载表格
    function initTable() {
        $('#mytable').datagrid({
            url: '/shop/initShopTable',//获取数据地址
            columns: [
                [
                    {field:"checkbox",checkbox:true},
                    {field: 'id', title: 'id',width:20},
                    {field: 'sname', title: '商品名称',width:80},
                    {field: 'stypename', title: '商品类型',width:80},
                    {field: 'brandname', title: '商品品牌',width:80},
                    {field: 'sprice', title: '商品价格',width:80, formatter: function (value, row, index) {
                                return value+"元";
                        }},
                    {field: 'sdate', title: '上架日期',width:150},
                    {field:"simage",title:"商品图片",width:80,formatter:function(value,row,index){
                            return "<img src='"+value+"' width='50px' height='50px'>";
                        }},
                    {field: 'scount', title: '商品库存',width:80},
                    {field: 'ordernum', title: '订单量',width:80},
                    {field: 'sinfo', title: '商品描述'},
                    {
                        field: 'caozuo', title: '操作', formatter: function (value, row, index) {
                            var str="";
                            str += "<a  href='javascript:openadd2(" + row.id + ")'>查看版本</a> | ";
                            str += "<a  href='javascript:updateShops(" + row.id + ")'>修改</a> | ";
                            str += "<a  href='javascript:delshop(" + row.id + ")'>删除</a>";
                            return str;
                        }
                    }
                ]
            ],
            pagination:true,
            pageSize:5,
            pageList:[4,5,6],
            toolbar:"#mydiv"
        });

    }

    //初始化加载表格
    function initSizeTable(id) {
        $('#sizetable').datagrid({
            url: '/shop/initSizeTable?id='+id,//获取数据地址
            columns: [
                [
                    {field: 'id', title: 'id',width:20},
                    {field: 'size', title: '尺码',width:80},
                    {field: 'color', title: '颜色',width:80},
                    {field:"ximg",title:"商品图片",width:80,formatter:function(value,row,index){
                            return "<img src='"+value+"' width='50px' height='50px'>";
                        }},
                    {field: 'xprice', title: '商品价格',width:80},
                    {field: 'xcount', title: '商品库存',width:80},
                    {
                        field: 'caozuo', title: '操作', formatter: function (value, row, index) {
                            var str="";
                            str += "<a  href='javascript:updateSizeShop(" + row.id + ")'>修改</a> | ";
                            str += "<a  href='javascript:delSizeshop(" + row.id + ")'>删除</a>";
                            return str;
                        }
                    }
                ]
            ],
            pagination:true,
            pageSize:8,
            pageList:[8,10,16,22],
            toolbar:"#sizediv"
        });

    }

    function updateSizeShop(id) {
        $.ajax({
            url:"../shop/findShopSizeid",
            type:"post",
            data:{id:id},
            success:function(data){

                $("#sizeForm4").form("load",data);

                $('#testimg4').attr('src', data.simage);
                uploadFile(data.simage)
                $("#shopDialog4").dialog({
                    closed:false,
                    title:'修改商品'
                });
            }
        })
    }


    //删除尺码
    function delSizeshop(id) {
        $.messager.confirm("提示","是否确认删除？",function(r){
            if(r){
                $.ajax({
                    url:"../shop/delSizeshop",
                    type:"post",
                    data:{id:id},
                    success:function(){
                        $.messager.alert("我的消息","删除成功！！！","info");
                        $('#sizetable').datagrid("load");
                    }
                });
            }
        });
    }


    //保存尺码
    function saveSize(){
        $("#sizeForm3").form("submit",{
            url:"../shop/addSize",
            success:function(){
                //关闭弹框
                closeSizeDialog();
                //刷新表格
                $('#sizetable').datagrid("load");
            }
        });
    }
    //保存尺码
    function saveSize2(){
        $("#sizeForm4").form("submit",{
            url:"../shop/addSize",
            success:function(){
                //关闭弹框
                closeSizeDialog();
                //刷新表格
                $('#sizetable').datagrid("load");
            }
        });
    }

    //查看版本
    function openadd2(id){
        $("#sizeid").val(id);
        $("#sizeForm").form("reset");
        initSizeTable(id);
        $("#sizeDialog").dialog({
            closed:false,
            title:'查看尺码',
        });
    }

    //打开新增弹框
    function openAdd3(){
        //清除表单缓存
        $("#sizeForm3").form("reset");
        $('#userImg').attr('src', "");
        uploadFile3();
        var sizeid=$("#sizeid").val();
        $("#sid").val(sizeid);
        $("#sizeDialog3").dialog({
            closed:false,
            title:'新增尺码',
        });

    }

    //上传文件
    function uploadFile2(){
        $('#userImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/img/uploadUserImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            //var imgval = $('#testimg').val();
            //if(imgval == null || imgval == "" || imgval == undefined){
            var	imgval = data.response;
            //}else{
            //	imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
            //}
            $('#testimg').val(imgval);
        });
    }



    function uploadFile(simage){
        $('#userImg2').fileinput({
            initialPreview:simage,
            initialPreviewConfig: [
                {key: 1, showDelete: false}
            ],
            initialPreviewAsData: true,
            language: 'zh', //设置语言
            uploadUrl: '/img/uploadUserImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            //var imgval = $('#testimg').val();
            //if(imgval == null || imgval == "" || imgval == undefined){
            var	imgval = data.response;
            //}else{
            //	imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
            //}
            $('#testimg2').val(imgval);
        });
    }
    function uploadFile3(){
        $('#userImg3').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/img/uploadUserImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            //var imgval = $('#testimg').val();
            //if(imgval == null || imgval == "" || imgval == undefined){
            var	imgval = data.response;
            //}else{
            //	imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
            //}
            $('#testimg3').val(imgval);
        });
    }
</script>
</html>