<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- 引入jquery.js文件 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <!-- 引入easyui的js文件 -->
        <script type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
        <!-- 引入easyui的中文js文件 -->
        <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>

        <!-- 引入easyui的css文件 -->
        <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">
        <!-- 引入easyui图标的css文件 -->
        <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">

        <!-- 引入uploadify的css、js -->
        <link type="text/css" rel="stylesheet" href="../js/uploadify/uploadify.css">
        <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
<div id="mydiv">
    <a  href="javascript:openAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
</div>
<div id="userDialog" class="easyui-dialog" data-options="closed:true,width:500,height:400,modal:true,buttons:'#buttons'">
    <form id="userForm" method="post">
        <input name="id" style="display:none">
        <table>
            <tr>
                <td>用户名</td>
                <td><input class="easyui-textbox" name="name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input class="easyui-textbox" name="pwd"></td>
            </tr>
            <tr>
                <td>角色</td>
                <td>
                    <input class="easyui-combobox" name="roleid" id="role" data-options="width:180">
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="buttons">
    <a href="javascript:saveUser()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>


<table id="mytable"></table>
</body>
<script>
    $(function () {
        initTable();
    })

    //保存用户
    function saveUser(){
        $("#userForm").form("submit",{
            url:"../user/addUser",
            success:function(){
                //关闭弹框
                closeDialog();
                //刷新表格
                $('#mytable').datagrid("load");
            }
        });
    }

    //删除
    function delUser(id) {
        $.messager.confirm("提示","是否确认删除？",function(r){
            if(r){
                $.ajax({
                    url:"../user/deleteById",
                    type:"post",
                    data:{id:id},
                    success:function(){
                        $.messager.alert("我的消息","删除成功！！！","info");
                        $('#mytable').datagrid("load");
                    }
                });
            }
        });
    }
    //初始化角色列表
    function initrole(){
        $("#role").combobox({
            url:"../user/findRole",
            valueField:"roleid",
            textField:"rolename",
            multiple:true //支持多选
        });
    }
    //打开修改弹框：回显表单数据
    function updateUser(userId){
        $.ajax({
            url:"../user/queryUserById",
            type:"post",
            data:{userId:userId},
            success:function(data){
                initrole();//初始化角色下拉列表
                //回显表单数据
                $("#userForm").form("load",data);
                //打开弹框
                $("#userDialog").dialog({
                    closed:false,
                    title:'修改用户'
                });
            }
        })
    }

    //打开新增弹框
    function openAdd(){
        //清除表单缓存
        $("#userForm").form("reset");
        initrole();//初始化角色下拉列表
        $("#userDialog").dialog({
            closed:false,
            title:'新增用户'
        });

    }

    //关闭新增弹框
    function closeDialog(){
        $("#userDialog").dialog("close");
    }

    //初始化加载表格
    function initTable() {
        $('#mytable').datagrid({
            url: '/user/initTable',//获取数据地址
            toolbar:"#mydiv",
            columns: [
                [
                {field:"checkbox",checkbox:true},
                {field: 'id', title: 'id'},
                {field: 'name', title: '用户名'},
                {field: 'pwd', title: '密码'},
                {field: 'rolename', title: '角色'},
                {
                    field: 'caozuo', title: '操作', formatter: function (value, row, index) {
                        var str="";
                            str+="<a  href='javascript:updateUser(" + row.id+")'>修改</a> |";
                            str+="<a  href='javascript:delUser(" + row.id+")'>删除</a> ";
                        return str;
                    }
                }
            ]
                ]
        });

    }
</script>
</html>